{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <img src="http://partyhatify.herokuapp.com/{{ hat_choice }}?src=https://raw.github.com/jamesporter/MPofTheDay/master/static/mp_images/{{mp.twfy_id}}.png" class="img-thumbnail" style="width:200px"/>
        <h1>Congrats {{mp.name}} MP!</h1>

        <h3>{{ age }} today! (on {{ date }})</h3>

    <p>{{ mp.summary }}</p>

    <a href="{{mp.wiki_url}}" class="btn btn-primary">Read more on Wikipedia</a>

    </div>

    <div class="col-sm-4">
        <div class="well">

        <h2>Contact {{mp.first_name}}</h2>
       <a class="btn btn-success btn-block"><span class="glyphicon glyphicon-retweet"></span>&nbsp;&nbsp;Tweet {{mp.first_name}}</a>
        <a class="btn btn-success btn-block"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;Contact {{mp.first_name}}</a>
        </div>
    </div>
</div>
{% endblock %}