{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <img src="http://partyhatify.herokuapp.com/{{ hat_choice }}?src=https://raw.github.com/jamesporter/MPofTheDay/master/static/mp_images/{{mp.twfy_id}}.png" class="img-thumbnail" style="max-width:180px"/>
        <h1>{{mp.name}}</h1>
        <h4>MP for Whitney</h4>

        <h2>Politics</h2>
             <p>Lomo sunt pour-over, brunch dolore YOLO mumblecore fugiat nostrud mustache et beard assumenda +1 Tumblr. Williamsburg Banksy Terry Richardson banjo officia. Tonx proident Tumblr ex. Roof party put a bird on it Marfa readymade. Echo Park cliche 8-bit aliquip, PBR&B sartorial flexitarian exercitation polaroid ullamco disrupt duis shabby chic. Placeat quinoa synth Portland, whatever 8-bit pork belly VHS sriracha jean shorts. Single-origin coffee hoodie photo booth four loko.</p>

        <h2>Interests</h2>
        <p>{{mp.first_name}} has shown an interest in:</p>

        <ul>
            <li>Austerity</li>
            <li>Angry Birds</li>
        </ul>

        <h2>Personal</h2>
        <p>Eu 90's McSweeney's retro cred church-key. Letterpress keffiyeh mumblecore, farm-to-table semiotics labore cred leggings accusamus artisan eu. Blog mumblecore Pitchfork fashion axe iPhone meh. Odio bespoke twee, Banksy sartorial readymade literally four loko craft beer typewriter pour-over 8-bit. Delectus biodiesel sapiente, flannel cillum church-key mustache bicycle rights ennui mumblecore hashtag chambray ugh. Ethical freegan occaecat Shoreditch mlkshk. Typewriter ut ethnic freegan Echo Park keytar minim.</p>

        <a href="{{mp.wiki_url}}" class="btn btn-primary">Read more on Wikipedia</a>

    </div>

    <div class="col-sm-4">
        <div class="well">

        <h2>Contact {{mp.first_name}}</h2>
       <a class="btn btn-success btn-block"><span class="glyphicon glyphicon-retweet"></span>&nbsp;&nbsp;Tweet {{mp.first_name}}</a>
        <a class="btn btn-success btn-block"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;Contact {{mp.first_name}}</a>
        </div>
    </div>
</div>
{% endblock %}